.card-img-top{
    width: 15.4rem;
    height: 20rem;
}
.contain{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    /* background-color: yellow; */
    background-color: none;
}
.card-text{
    color: black;
}

.card{
    background-color: rgb(253, 253, 193);
}